* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none
}

html, body {
	background: #f2f2f2;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.el-card__header {
	padding: 10px 15px;
	font-size: 15px;
}

/*弹窗里面的表单*/
.el-dialog .el-dialog__header {
	padding: 20px;
    border-bottom: 1px solid #eee;
}
.el-dialog .el-dialog__header .el-dialog__title {
	font-size: 15px;
	line-height: normal;
}

.el-dialog .el-dialog__footer {
	padding: 20px;
	border-top: 1px solid #eee;
}
.modelFromListBox .form-control {
	width: 60%;
}

.modelFromListBox textarea {
	height: 90px;
	font-family: Arial
}